[run]
branch = True
relative_files = True
omit =
    */migrations/*.py
    tests/*

[report]
fail_under = 66
exclude_also =
    if "debug_toolbar" in settings.INSTALLED_APPS:
    if settings.DEBUG:
    raise NotImplementedError
    logger
    warnings.warn
