[flake8]
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
extend-ignore=
    #  Use of assert detected (annoying in pytest testing)
    S101
