name: Build and test
permissions:
  contents: read
  pull-requests: write

on:
  pull_request:
  push:
    branches:
      - master
      - 'schema-tools-v*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    services:
      db:
        image: postgis/postgis:14-3.2
        env:
          POSTGRES_DB: cicd
          POSTGRES_USER: dataservices
          POSTGRES_PASSWORD: insecure
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt update -y
        sudo apt install -y libgdal34t64 gdal-bin
        python -m pip install --upgrade pip
        python -m pip install .[django,tests]
    - name: Test
      run: |
        pytest tests
      env:
        DATABASE_URL: postgresql+psycopg://dataservices:insecure@localhost:5432/cicd
